body{
	padding: 0;
	margin: 0;
}

.m-t-xs{
    margin-top: 5px;
}

.table{
    margin-bottom: 2px;
}

.table-bordered {
    border: 1px solid #494949;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #e9e9e9;
}

.modal-content{
    border-radius: 0px;
    position: relative;
}

.modal-content button.close{
    position: absolute;
    z-index: 101;
    right: 30px;
    top: 10px;
}

.fixed-overlay .fixed-header{
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 56px;
}

.fixed-overlay{
    top: 60px;
    height: auto;
    min-height: 400px;
    overflow-y: auto;
}

.fixed-overlay table{
    height: 400px; 
    display: -moz-groupbox;
    position: relative;
}

.fixed-overlay table tr{
    width: 100%;
    display: inline-table;
    height: auto;
    table-layout: fixed;
}

.fixed-overlay table thead tr th:nth-child(1){
    width: 200px;
}

.fixed-overlay table tbody tr td:nth-child(1){
    width: 200px;
}

.fixed-overlay table thead tr th:nth-child(2){
    width: 130px;
}

.fixed-overlay table tbody tr td:nth-child(2){
    width: 130px;
}

.fixed-overlay table thead tr th:nth-child(3){
    width: 165px;
}

.fixed-overlay table tbody tr td:nth-child(3){
    width: 165px;
}

.fixed-overlay table tbody tr:nth-child(even){
    background-color: #cfff51;
}

.fixed-overlay table tbody tr{
    background-color: #eaffb4;
}

.fixed-overlay table tbody{
  overflow-y: scroll;
  height: 400px;
  width: 100%;
  position: absolute;
  left: 0;
}

.fixed-overlay .fixed-thead tr:first-child{
    background-color: #d2f5ff;
}

.fixed-overlay .fixed-thead tr:first-child th{
    vertical-align: top;
    font-weight: normal;
    color: #02556c;
}

.fixed-overlay .fixed-thead tr th{
    color: #02556c;
}

.fixed-overlay .fixed-thead{
    position: absolute;
    left: 0;
    height: auto;
    min-height: 40px;
    background: #91ddf2;
    width: 98%;
    z-index: 1;
}

.child-table table{
    height: auto;
    position: relative;
    border: 2px solid #02556c;
}

.child-table table tbody{
    position: relative;
    height: auto;
    overflow-y: auto; 
}

.child-table table tbody tr:first-child{
    background-color: #91ddf2;
}

.fixed-overlay .child-table{
    padding: 0; 
}

.fixed-overlay .child-table table tbody tr:first-of-type td{
    padding-top: 5px;
}

.fixed-overlay table tbody tr:first-of-type td{
    padding-top: 140px;
}

@media (min-width: 992px){
    .modal-lg {
        width: 1000px;
    }
}